<table class="table">
<tbody>
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
						<a href="https://doi.org/10.1021/acsenergylett.9b02574">Performance Metrics Required of Next-Generation Batteries to Electrify Commercial Aircraft</a>.
			</span><br />
			<span class="authors">
				Alexander Bills, Shashank Sripad, William Leif Fredericks, Madalsa Singh, and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACS Energy Letters 5(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
						<a href="https://doi.org/10.26434/chemrxiv.12616169.v1">Universal Battery Performance and Degradation Model for Electric Aircraft</a>.
			</span><br />
			<span class="authors">
				Alexander Bills, Shashank Sripad, William L Fredericks, Matthew Guttenberg, Devin Charles, Evan Frank, and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">ChemrRxiv Preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
						<a href="https://doi.org/10.1021/acsenergylett.8b02195">Performance Metrics Required of Next-Generation Batteries to Electrify Vertical Takeoff and Landing (VTOL) Aircraft</a>.
			</span><br />
			<span class="authors">
				William L. Fredericks, Shashank Sripad, Geoffrey C. Bower, and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACS Energy Letters</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
						<a href="https://doi.org/10.1021/acsenergylett.7b01022">Evaluating the Potential of Platooning in Lowering the Required Performance Metrics of Li-Ion Batteries to Enable Practical Electric Semi-Trucks</a>.
			</span><br />
			<span class="authors">
				Matthew Guttenberg, Shashank Sripad, and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACS Energy Letters 2(11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
						<a href="https://doi.org/10.1021/acsenergylett.7b00432">Performance Metrics Required of Next-Generation Batteries to Make a Practical Electric Semi Truck</a>.
			</span><br />
			<span class="authors">
				Shashank Sripad and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACS Energy Letters 2(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
						<a href="https://doi.org/10.1149/2.0671711jes">Evaluation of Current, Future, and Beyond Li-Ion Batteries for the Electrification of Light Commercial Vehicles: Challenges and Opportunities</a>.
			</span><br />
			<span class="authors">
				Shashank Sripad and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of The Electrochemical Society 164(11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
